Flask
Flask-Cors
Flask-Limiter
flatbuffers
fonttools
frozenlist
Hypercorn
hyperframe
numpy
black
isort
flake8
pytest
pydantic
pytest-flask
python-crfsuite
python-dateutil
python-dotenv
python-engineio
python-socketio
Quart
quart-cors
requests
requests-oauthlib
requests-toolbelt
scikit-learn
scipy
simple-websocket
sklearn-crfsuite
SQLAlchemy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-hub
tensorflow-io-gcs-filesystem
tensorflow-text