flatbuffers
fonttools
frozenlist
Hypercorn
hyperframe
numpy
black
isort
pydantic
pytest-flask
python-crfsuite
python-dateutil
python-dotenv
python-engineio
python-socketio
Quart
quart-cors
requests
requests-oauthlib
requests-toolbelt
scikit-learn
scipy
simple-websocket
sklearn-crfsuite
SQLAlchemy
psycopg2-binary
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-hub
tensorflow-io-gcs-filesystem
python-dotenv
werkzeug==2.0.3
rasa
rsa
rasa-sdk==1.4.0
uvloop --only-binary :all
pipdeptree